{% extends "base.html.twig" %}

{% block body %}
	<h2 class="text-center my-2">Ajouter votre commentaire</h2>
	<div class="container my-4 border border-primary">

		{{ form_start(avisForm) }}

		{{ form_row(avisForm.author, {
            label: "Votre nom"
        })}}

		{{ form_row(avisForm.content, {
            label: "Votre commentaire"
        })}}
		{{ form_row(avisForm.category, {
            label: "Catégorie"
        })}}
		
        <button type="submit" class="btn btn-secondary my-2">Envoyer</button>
		
		{{ form_end(avisForm) }}

		
	</div>

{% endblock %}
